@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f0f5;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #56b68b;
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.balance {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.transaction-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.transaction-form input, .transaction-form select {
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    padding: 10px;
    background-color: #56b68b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #479f70;
}

#transactionList {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

#transactionList li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#transactionList .expense {
    color: red;
}

#transactionList .income {
    color: green;
}

/* Estilo do footer */
footer {
    background-color: #56b68b;
    color: white;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
}



.button-back {
    display: flex;
    justify-content: left;
    margin-top: 20px;
}

.button-back button {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #56b68b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-back button:hover {
    background-color: #C6E5B1;
}